html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 14px;
}

body {
  font-family: "Google Sans", sans-serif;
  font-size: 1rem;
  color: #444444;
  overflow-x: hidden;
  font-weight: normal;
  letter-spacing: -0.3px;
}

.has-sticky-header {
  padding-top: 72px;
}

first-letter {
  color: #557dbf;
  font-weight: 400;
}

second-letter {
  color: #fbbc12;
  font-weight: 400;
}

third-letter {
  color: #e1382b;
  font-weight: 400;
}

forth-letter {
  color: #189e59;
  font-weight: 400;
}

a {
  line-height: 1;
  color: #2f5be7;
}

button,
.btn {
  outline: none;
  border: 0;
}

button:focus,
.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: #1b2733;
  font-family: "Google Sans", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 25px;
}

h1 {
  line-height: 32px;
}

h2,
.h2 {
  line-height: 1.44;
}

p {
  font-size: 14px;
  line-height: 22px;
}

.lead {
  font-weight: normal;
  line-height: 29px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .lead {
    font-size: 16px;
  }

  .vanish {
    display: none;
  }

  .zuri {
    text-align: left;
    line-height: 1.5;
  }
}

.text-warning {
  color: #fd7d44;
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.container {
  max-width: 1100px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

.section-spacer {
  padding: 50px 0;
}

.cta__large {
  max-width: 450px;
}

.section-header {
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.section-title {
  text-transform: capitalize;
}

.section-title-custom {
  text-transform: none;
}

.section-subtitle {
  font-size: 15px;
  color: #637282;
}

.assistive-text {
  font-size: 12px;
}

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ripple {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.event-card,
.project-card {
  -webkit-box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
  box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
  border-radius: 5px;
  margin: 0 auto 20px;
}

.card {
  float: none;
  border-radius: 8px;
}

.tagging {
  display: inline-flex;
  border-radius: 15px;
  font-size: 12px;
  padding: 0 0.8rem;
  max-width: 100px;
  text-align: center;
  height: 24px;
  line-height: 24px;
}

.intermediate {
  background-color: rgba(47, 231, 177, 0.2);
  color: #3bc1fd;
}

.beginner {
  background-color: rgba(0, 255, 133, 0.2);
  color: #4aa277;
}

.expert {
  background-color: rgba(253, 125, 68, 0.2);
  color: #fd7d44;
}

.feature-card {
  -webkit-box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
  box-shadow: 0 0 15px rgba(99, 114, 130, 0.3);
  margin-bottom: 30px;
  padding: 25px 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 410px;
  transition: box-shadow 0.2s ease;
}

.feature-card:hover{
  box-shadow: 0 0 20px rgba(99, 114, 130, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(99, 114, 130, 0.5);
}

.feature-card .feature-card__body,
.feature-card .u-icon {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-card .u-icon {
  margin-right: 20px;
}

.feature-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.content-card__body {
  padding: 10px;
}

.mfp-bg {
  background-color: rgba(27, 39, 51, 0.5);
}

.mfp-iframe {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mfp-close {
  background: #3bc1fd;
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  opacity: 1;
  line-height: 48px;
  padding: 0;
  right: -48px;
  top: 0;
  font-size: 48px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: 0;
}

.mfp-close:hover {
  background-color: #15b586;
  -webkit-box-shadow: 5px -5px #3bc1fd;
  box-shadow: 5px -5px #3bc1fd;
}

.mfp-close:active,
.mfp-close:focus {
  color: #1b2733;
}

.custom-menu {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.custom-menu .nav-item .nav-link {
  padding: 20px 15px;
  text-transform: capitalize;
  color: #92a6be;
  font-weight: 500;
}

.custom-menu .nav-item .nav-link:hover {
  color: #c2d9ef;
}

.nav-item {
  color: #fff;
  font-size: 17px;
  font-weight: 500
}
.navbar-nav .nav-link:active {
  border-bottom: 2px solid black;
}
.custom-menu__light {
  background: #fff;
}

.event-button {
  background: #2f5be7;
  font-weight: bold;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 50px;
  text-decoration: none;
}

.custom-menu__light .nav-link {
  color: #1b2733;
}

.custom-menu__light .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler {
  padding: 0;
  width: 20px;
  height: 15px;
  position: relative;
}

.menu-icon {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  color: #000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

.menu-icon__circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: #2f5be7;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.menu-icon__bar {
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background: #fff;
  display: block;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu-icon__bar:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.menu-icon__bar:nth-child(3) {
  bottom: 0;
}

.navbar-toggler.menu-is-expanded {
  z-index: 1;
}

.navbar-toggler.menu-is-expanded .menu-icon__circle {
  -webkit-transform: scale(60);
  transform: scale(60);
  z-index: -1;
}

.navbar-toggler.menu-is-expanded .menu-icon__bar:first-child {
  -webkit-transform: translateY(7.5px) translateY(-50%) rotate(45deg);
  transform: translateY(7.5px) translateY(-50%) rotate(45deg);
}

.navbar-toggler.menu-is-expanded .menu-icon__bar:nth-child(2) {
  width: 0%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar-toggler.menu-is-expanded .menu-icon__bar:last-child {
  -webkit-transform: translateY(-7.5px) translateY(50%) rotate(-45deg);
  transform: translateY(-7.5px) translateY(50%) rotate(-45deg);
}

.navbar-brand {
  z-index: 200;
}

#header_title {
  margin: 0;
  z-index: 200;
  font-weight: 200;
}

.navbar-collapse {
  z-index: 200;
}

.custom-menu__light.navbar-is-sticky {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 240px) and (max-width: 400px) {
  .ml-pic {
    order: -1;
  }
}


.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 550px;
  margin-top: 30px;
}

.hero-content {
  margin-bottom: 0;
}

.hero-title__group {
  margin-bottom: 30px;
}

.hero-title {
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 40px;
}

.hero-title span {
  display: block;
  color: #1b2733;
}

.hero-figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-figure img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* animation: float 3.5s ease-in-out infinite; */
  border-radius: 3%;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-30px);
  }

  100% {
    transform: translatey(0px);
  }
}

.feature-list-wrapper {
  -ms-flex-item-align: center;
  align-self: center;
}

.feature-list-wrapper .content-header {
  margin-bottom: 20px;
}

.feature-list-wrapper .list {
  margin-bottom: 30px;
}

.feature-list-wrapper .btn-link {
  color: #2f5be7;
  text-transform: capitalize;
  font-weight: bold;
}

.feature-list-wrapper .btn-link .icon {
  font-size: 24px;
}

.feature-list-image {
  max-width: 90%;
}

.workshops-section .tab-content {
  margin-top: 40px;
}

.workshops-type-switch .nav-link {
  background: transparent;
  border-bottom: 2px solid #dddddd;
  border-radius: 0;
  color: #637282;
  padding-right: 15px;
  padding-left: 15px;
}

.workshops-type-switch .nav-link.active {
  background: transparent;
  color: #1b2733;
  border-bottom-color: #3bc1fd;
}

.workshops-single {
  -webkit-box-shadow: 0 0 20px rgba(27, 39, 51, 0.2);
  box-shadow: 0 0 20px rgba(27, 39, 51, 0.2);
  border-radius: 2%;
  padding: 30px;
}

.workshops-single:hover {
  -webkit-box-shadow: 0 0 40px rgba(0, 110, 255, 0.4);
  box-shadow: 0 0 40px rgba(0, 110, 255, 0.4);
}

.workshops-header {
  margin-bottom: 10px;
}

.workshops-title {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
  color: #1b2733;
}

.workshops-price {
  margin-bottom: 20px;
  color: #1b2733;
}

.workshops-price small {
  display: block;
  color: #637282;
  font-size: 16px;
  font-weight: 400;
}

.workshops-value {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  font-family: "Google Sans", sans-serif;
}

.workshops-currency {
  font-size: 18px;
  top: -28px;
  left: -10px;
  font-weight: normal;
  position: relative;
}

.workshops-list {
  list-style-type: none;
}

h6 {
  font-weight: 200;
}

.workshops-list .disabled {
  text-decoration: line-through;
  color: rgba(99, 114, 130, 0.5);
}

.workshops-list__item {
  color: #637282;
  margin: 10px 0;
  position: relative;
}

hr {
  height: 0.1px;
  background-color: rgba(99, 114, 130, 0.8);
}

.workshops-list__item:before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(27, 39, 51, 0.3);
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

/*carousel styling*/
.carousel-control-next-i:hover,
.carousel-control-prev-i:hover {
  background-color: #fff;
  color: #3bc1fd;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

@media (min-width: 240px) and (max-width: 768px) {

  .carousel-control-next,
  .carousel-control-prev {
    width: 15%;
    height: 10%;
  }

  .carousel-control-next-i,
  .carousel-control-prev-i {
    position: relative;
    left: 1%;
    top: 450%;
    vertical-align: middle;
    text-align: center;
    line-height: 43px;
    background-color: #2f5be7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@media (min-width: 768px) {

  /* show 3 items */
  .carouselPrograms .carousel-inner .active,
  .carouselPrograms .carousel-inner .active+.carousel-item,
  .carouselPrograms .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }

  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    transition: none;
  }

  .carouselPrograms .carousel-inner .carousel-item-next,
  .carouselPrograms .carousel-inner .carousel-item-prev {
    position: relative;
    right: 300px;
    transform: translate3d(0, 0, 0);
  }

  .carousel-control-next-i,
  .carousel-control-prev-i {
    position: relative;
    vertical-align: middle;
    text-align: center;
    line-height: 38px;
    background-color: #2f5be7;
    border-radius: 50%;
    width: 40px;
    height: 35px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

  .carouselPrograms .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .carouselPrograms .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item,
  .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .carouselPrograms .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item,
  .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

/*end carousel styling*/

/*team card stying*/

.card.hovercard {
  border: 0px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.card.hovercard:hover {
  border: 0px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.card.hovercard .cardheader {
  background: #2f5be7;
  background-size: cover;
  height: 130px;
  border: 0;
  border-radius: 8px 8px 0 0;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .avatar img:hover {
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  border: 5px solid rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.card.hovercard .info {
  padding: 4px 8px 2px;
  text-align: center;
}

.card.hovercard .info .title h5 {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 1;
  color: #262626;
}

.card.hovercard .info .title p {
  color: #262626;
}

.card.hovercard .info .title p {
  border-radius: 25px;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card.hovercard .bottom ul li a i {
  color: #2f5be7;
  font-size: 16px;
  margin: 0;
}

/*end team card stying*/

.card-body ul {
  display: block;
  margin: 0 0 0;
  padding-left: 20px;
  list-style-type: none;
  font-size: 15px;
  text-indent: -1em;
}

.social-list__inline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-list__inline li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-list__inline li {
  margin-right: 15px;
}

.social-list__inline li:last-of-type {
  margin: 0;
}

.social-list__inline li a {
  color: #1b2733;
  font-size: 22px;
  margin-left: 8px;
}

.text-white {
  color: #ffffff;
}

.text-gr .text-blue {
  color: #007bff;
}

.text-red {
  color: #dc3545;
}

.text-orange {
  color: #fd7e14;
}

.text-yellow {
  color: #ffc107;
}

.text-green {
  color: #28a745;
}

.text-dark {
  color: #343a40;
}

.bg-very__gray {
  background-color: #fafafa;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-90 {
  margin-top: 90px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-0 {
  padding-top: 0;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.logo-sm {
  max-width: 200px;
}

.x-hidden {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.ui-container {
  padding: 20px;
}

.ui-small {
  max-width: 550px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.inactive {
  background-color: grey;
}

.inactive:hover {
  color: black;
}

.alert {
  display: none;
}

.notify {
  font-size: 18px;
}

#scroll {
  position: fixed;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: #2f5be7;
  display: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#scroll i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  margin-left: -5px;
  margin-top: -7px;
  height: 0;
  width: 0;
}

#scroll:hover {
  background-color: #fff;
  color: #3bc1fd;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #0080ff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
}

.button {
  background: #007bff;
  color: #ffffff;
  padding: 10px 22px;
  font-size: 15px;
  border-radius: 20px;
}

.button:hover,
.hero-button:hover,
.event-btn:hover {
  background: #007bff;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 110, 255, 0.4);
}

.hero-button,
.event-btn {
  background: #2f5be7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 2px;
}

.event-btn {
  padding: 8px 12px;
  border-radius: 50px;
  font-weight: bold;
}

.past-event {
  border: 2px solid #007bff;
  background-color: transparent;
  color: #007bff;
  padding: 8px 18px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
}

.past-event:hover {
  text-decoration: none;
  background: #007bff;
  color: #ffffff;
}

.ghost-blue {
  font-size: 40px;
  padding-bottom: 20px;
  -webkit-text-stroke: 2px #557dbf;
  color: transparent;
}

.ghost-red {
  font-size: 40px;
  padding-bottom: 20px;
  -webkit-text-stroke: 2px #e1382b;
  color: transparent;
}

.ghost-green {
  font-size: 40px;
  padding-bottom: 20px;
  -webkit-text-stroke: 2px #189e59;
  color: transparent;
}

.content-title {
  font-size: 27px;
}

.error-block {
  text-align: center;
}

.err-img {
  border-radius: 10%;
}

.err {
  padding: 20px;
}

.err-p {
  font-size: 60px;
}

#hidden {
  display: none;
}

/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
i {
  /* transition: all 0.2s linear; */
  transition: all 0.1s linear;
}

a:hover i {
  transform: scale(1.2);
}

/* Footer  */

#footer {
  margin: 0;
  width: 100%;
  color: rgb(241, 235, 235);
  font-size: 14px;
  font-weight: bold;
  background: #175cdd;
  padding-top: 24px;
  padding-bottom: 30px;
}

#footer img {
  height: 35px;
  width: 35px;
  color: white;
}

#footer .footer-top {
  background: #175cdd;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

.footer-contact {
  margin-top: 20px;
}

#footer .footer-top .footer-contact h3 span {
  color: rgb(245, 237, 237);
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-top: 5px;
  color: #b1b8f8;
  padding-bottom: 5px;
}

#footer .footer-top h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: rgb(18, 50, 233);
  bottom: 0;
  left: 0;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

#footer .footer-top .footer-links ul i {
  padding-right: 3px;
  color: rgb(246, 240, 240);
  font-size: 10px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  color: white;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgb(216, 219, 252);
  transition: 0.3s;
  margin-top: 6px;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: rgb(127, 127, 255);
}

.social-links {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: -50px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  color: white;
  line-height: 1;
  padding: 8px 0;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links .twitter:hover {
  background: #1da1f2;
  color: white;
  text-decoration: none;
}

#footer .social-links .facebook:hover {
  background: #4267b2;
  color: white;
  text-decoration: none;
}

#footer .social-links .instagram:hover {
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  color: white;
  text-decoration: none;
}

#footer .social-links .youtube:hover {
  background: #c4302b;
  color: white;
  text-decoration: none;
}

#footer .social-links .linkedin:hover {
  background: #0072b1;
  color: white;
  text-decoration: none;
}

#footer .social-links .discord:hover {
  background: #7289da;
  color: white;
  text-decoration: none;
}

.copyright {
  padding-top: 20px;
}

.logoo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  /* background-color: #1a023b; */
  transition: 0.2s;
}

.logoo :hover {
  color: #21beee;
  text-shadow: 0px 0px 5px #21beee, 0px 0px 10px #21beee, 0px 0px 20px #21beee,
    0px 0px 40px #21beee;
}

.navbar li {
  margin: 10px;
  color: whitesmoke;
  /* Adjust the desired spacing here */
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  /* Center the items horizontally */
}

.navbar a:hover::after,
.navbar .active::after,
.navbar .active:focus::after,
.navbar li:hover>a::after {
  background: #4a326b;
  /* Change the desired underline color */
}

.navbar {
  background: #175cdd;
}