/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

/* Clients container styles */
.clients {
  /* Add styles here */
}

/* Pagination container styles */
.clients-pagination {
  margin-top: 40px;
  position: relative;
}

/* Pagination bullet styles */
.clients-pagination .pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--background-white);
  opacity: 1;
  border: 1px solid var(--backtotop-btn-color);
}

/* Active pagination bullet styles */
.clients-pagination .pagination-bullet-active {
  background-color: var(--backtotop-btn-color);
}

/* Slider styles */
.clients-slider {
  padding-top: 50px;
}

/* Slide styles */
.clients-slide {
  opacity: 0.5;
  filter: grayscale(100);
  cursor: pointer;
}

/* Image styles */
.clients-slide img {
  transition: 0.5s;
}

/* Hovered slide styles */
.clients-slide:hover {
  opacity: 1;
  filter: none;
}

/* Hovered image styles */
.clients-slide:hover > img {
  transform: scale(1.2) rotateY(360deg);
}

/* Heading styles */
.clients h1 {
  color: var(--backtotop-btn-color);
  text-shadow: 0 0 1px black;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

/* Enlarge image styles */
.enlarge {
  height: 60px;
  width: 200px;
  object-fit: contain;
}

/* Responsive styles for small screens */
@media only screen and (max-width: 600px) {
  /* Responsive heading styles */
  .clients h1 {
    font-size: 27px;
  }

  /* Responsive slide styles */
  .clients-slide {
    width: 100px;
    margin-right: 112px;
  }
}
