/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
    margin-top: 40px;
    position: relative;
  }
  .clients .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: var(--background-white);
    opacity: 1;
    border: 1px solid var(--backtotop-btn-color);
  }
  .clients-slider {
    margin-top: 40px;
  }
  .clients .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--backtotop-btn-color);
  }
  
  /* @media only screen and (min-width: 600px) {
    .clients .swiper-slide {
      width: 100px !important;
      margin-right: 112px !important;
    }
  } */

  .clients .swiper-slide {
    width: 100px !important;
    margin-right: 112px !important;
  }
  
  /* ----------------Infinite Image Carousel---------------------- */
  .clients .swiper-slide img {
    transition: 0.3s;
  }

  .slide-container {
      position: relative;
      margin-top: 3em;
  }

  .slide-image {
    animation: scroll 20s linear infinite;

    /* ------------Pausing infinite images slide on Hover------------------------- */
    /* &:hover {
      animation-play-state: paused;
      transition: all 0.2s ease;
    } */
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

  .clients .swiper-slide img:hover {
    scale: 1.18;
    cursor: pointer;

  }
  .clients h1 {
    color: var(--backtotop-btn-color);
    text-shadow: 0 0 1px black;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: bold;
  }
  .enlarge {
    height: 60px;
    width: 200px;
    object-fit: contain;
  }

  @media only screen and (max-width: 600px) {
    .clients h1 {
      font-size: 27px;
    }
  }