.modifiedAddress {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.contact .info-box i {
    font-size: 32px;
    color: #5942e9;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #f8d4d5;
}
.form-group input{
    transition: 0.3s ease-in-out;
}
.form-group input:hover {
    transition: 0.3s ease-in-out;
    box-shadow: rgba(137, 119, 212, 0.456) 0px 5px 10px;
}

.address {
    text-align: center;
}

.address p a {
    transition: 0.3s ease-in-out;
}

.address p a:hover {
    transition: 0.3s ease-in-out;
}

.modifiedMailPhone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    row-gap: 10px;
}
