.contact {
	width: 100%;
	background: linear-gradient(to right, #12376e 0 35%, #5942e9 35%);
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	padding: 2%;
}
.contact-title {
	font-weight: bolder;
	font-size: 2.3rem;
	text-transform: capitalize;
	color: white;
}
.contact-content {
	display: flex;
	gap: 20px;
	flex-direction: column;
	width: 95%;
	margin: auto;
	height: fit-content;
}
.contact-form {
	background-color: white;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: min-content;
}
.contact-form header {
	color: #12376e;
	font-weight: bolder;
	font-size: 1.4rem;
}
.form-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.form-field {
	display: flex;
	flex-direction: column;
	gap: 0px;
	width: 100%;
}
label {
	color: #5942e9;
	font-size: 1.1rem;
	text-transform: capitalize;
	font-weight: bolder;
}
input,
textarea {
	width: 100%;
	border: 2px solid silver;
	outline: none;
	padding: 0 5px;
	height: 35px;
}
textarea {
	height: 200px;
	padding: 2%;
	resize: none;
}
.message {
	grid-column: 1/3;
}
.contact-rhs {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}
.contact-info {
	background-color: #12376e;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	width: 100%;
	height: fit-content;
}
.contact-info header {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: whitesmoke;
}
.contact-address,
.contact-email,
.contact-phone {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: white;
	gap: 20px;
	font-size: 0.9rem;
	text-transform: capitalize;
}
.icon {
	background-color: deepskyblue;
	border-radius: 100%;
	padding: 12px 15px;
	font-size: 1.1rem;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid dodgerblue;
}
.social-media {
	display: flex;
	gap: 10px;
	transform: translate(0px, 0px);
}
.social-media .icon {
	color: white;
	padding: 12px 14px;
	border-radius: 100%;
	background-color: transparent;
	cursor: pointer;
	border: 0;
	font-size: 1.5rem;
	transition: all 200ms linear;
}
.social-media .icon:hover {
	background-color: #5942e9;
	transform: scale(1.1);
}

.contact-map {
	width: 100%;
	height: 100%;
}
.contact-map iframe {
	width: 100%;
	height: 100%;
}
.btn {
	width: 140px;
	height: 50px;
	background: linear-gradient(to top, #00154c, #12376e, #23487f);
	color: #fff;
	border-radius: 10px;
	border: none;
	outline: none;
	cursor: pointer;
	position: relative;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.btn span {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: top 0.5s;
}

.btn-text-one {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.btn-text-two {
	position: absolute;
	width: 100%;
	top: 150%;
	left: 0;
	transform: translateY(-50%);
}
.btn:hover .btn-text-one {
	color: #fff;
	top: -100%;
}
.btn:hover .btn-text-two {
	color: #fff;
	top: 50%;
}
@media (min-width: 640px) {
	.form-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
	}
}
@media (min-width: 808px) {
	.contact-content {
		flex-direction: row;
	}
	.contact-rhs {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 60%;
	}
}
