.contact{
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
   }
   
   .contact-form{
       display: flex;
       background-color: #050b1f;
       flex-direction: column;
       padding: 2vw 4vw;
       width: 100%;
       max-width: 1000px;
       border-radius: 10px;
   }
   
   .contact-form .title{
       color: white;
       text-align: left;
       font-weight: 800;
       font-size: 20pt;
       margin-bottom: 20px;
   }
   
   .contact-form span {
       color: #2796ff;
   }
   
   .contact-form input,textarea{
       margin: 10px 0;
       padding: 15px;
       outline: none;
       background: #f5f5f5;
       font-size: 16px;
       border: 0;
       border-radius: 5px;
   }
   
   .contact-form input.error{
       border: 2px solid #e74c3c;
   }
   .contact-form input.success{
       border: 2px solid #2ecc71;
   }
   .contact-form textarea.error{
       border: 2px solid #e74c3c;
   }
   .contact-form textarea.success{
       border: 2px solid #2ecc71;
   }
   
   .contact-form .spandiv small {
       color: #e74c3c;
     }
     
   .contact-form button{
       padding: 15px;
       background: #fff;
       color: #000;
       font-size: 18px;
       border: 0;
       outline: none;
       cursor: pointer;
       width: 150px;
       margin: 20px auto 0;
       border-radius: 10px;
   }

   .hoverchanger {
    transition: 0.5s;
  }
  
  .hoverchanger:hover {
    background-color: #2796ff;
    transform: scale(1.1);
  }