/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
hr.line {
  border: 4px solid var(--backtotop-btn-color);
  border-radius: 5px;
  width: 120px;
  opacity: 1;
}

.counts {
  padding-top: 80px;
}
#counts h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.count-box {
  background: linear-gradient(145deg, #0e034d, #240ab3);
}
.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 5px slateblue;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s all ease-in-out;
}
.counts .count-box:hover {
  /* box-shadow: 0 5px 10px #aaa; */
  transform: scale(1.1);
}
.count-box > span {
  display: inline-block !important;
}
.counts .count-box i {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: var(--backtotop-btn-color);
  color: #d3d0e5;
  border-radius: 50px;
  border: 2px solid var(--backtotop-btn-color);
  box-shadow: 0px 2px 25px var(--header-rgb-transparent-sc);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: white;
  margin-top: 10px;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: var(--background-white);
}
.count-box:hover i {
  transform: rotateY(360deg);
}
.count-box {
  padding: 2px 0;
  font-size: 18px;
  box-shadow: 5px 5px 7px 0px #0000003f;
  position: relative; /*nearesr common ancestor to .git-box::before*/
  z-index: 1;
}
.bx-1::before {
  content: "";
  border-radius: 10px;
  background-image: linear-gradient(
    to right bottom,
    #e8f89b,
    #d7f096,
    #c6e891,
    #b5df8d,
    #a4d789,
    #adce77,
    #b6c468,
    #bfb95a,
    #e1a551,
    #fb8e61,
    #ff7782,
    #ff6cae
  );
  position: absolute;
  transform: scaleX(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0;
  transition: 1s;
  z-index: -1;
}
.bx-1:hover::before {
  transform: scaleX(1);
}
.bx-2::before {
  content: "";
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #6ef7ef,
    #7af2ff,
    #97eaff,
    #b6e2ff,
    #cfdbff,
    #d2d6ff,
    #d7d0ff,
    #dfc9ff,
    #cfc4fe,
    #bcbffd,
    #a8bafc,
    #91b6f9
  );
  position: absolute;
  transform: scaleX(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0;
  transition: 1s;
  z-index: -1;
}
.bx-2:hover::before {
  transform: scaleX(1);
}
.bx-3::before {
  content: "";
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #a3bfc7,
    #a3b6c0,
    #a2aeb7,
    #a1a6ae,
    #9d9ea3,
    #9da1ad,
    #9ba5b7,
    #96aac0,
    #7ec0d9,
    #5fd6df,
    #60eace,
    #91f9ab
  );
  position: absolute;
  transform: scaleX(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0;
  transition: 1s;
  z-index: -1;
}
.bx-3:hover::before {
  transform: scaleX(1);
}
.bx-4::before {
  content: "";
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  position: absolute;
  transform: scaleX(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 0;
  transition: 1s;
  z-index: -1;
}
.bx-4:hover::before {
  transform: scaleX(1);
}

@media (max-width: 526px) {
  .css-15 {
    font-size: 5vh;
  }
  .event-h2 {
    font-size: 3vh;
  }
}
