*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  --header-height: 70px;
}

.login-container {
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right, #141e30, #243b55);
}

.login-box {
  padding: 40px 40px 30px 40px;
  background: rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.sign-in {
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: unset;
}

.google {
  gap: 10px;
  border: none;
  outline: 2px solid #243b55;
  box-shadow: #568dcd 0px 25px 20px -20px;
  margin-bottom: 10px;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.googleicon {
  width: 25px;
  border-radius: 100px;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.9);
}

.google:hover {
  background: #243b55;
  outline: none;
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.or {
  width: 230px;
}
.or .or-line {
  border-top: 1px solid #fff;
  width: 100%;
  margin: auto 10px;
}

.form-container {
  width: 100%;
}

.form-container .user-box {
  position: relative;
}

.form-container .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  box-shadow: rgba(247, 240, 240, 0.728) 0px 2px 180px 1px;
  background: transparent;
}
.form-container .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  pointer-events: none;
  transition: 0.5s;
}

.form-container .user-box input:focus ~ label,
.form-container .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #d8b8ff;
  font-size: 14px;
}

.form-container .remember-me {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/*------------------*/

.remember-me .switch {
  display: inline-block;
  height: 17px;
  position: relative;
  width: 30px;
  cursor: pointer;
}

.remember-me .switch input {
  display: none;
  box-shadow: rgba(247, 240, 240, 0.728) 0px 25px 20px -20px;
}

.remember-me .slider {
  background-color: #aaa;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.3s;
}

.remember-me .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 9px;
  left: 4px;
  position: absolute;
  transition: 0.3s;
  width: 9px;
}

.remember-me input:checked + .slider {
  background-color: #00aaff;
}

.remember-me input:checked + .slider:before {
  transform: translateX(13px);
}

.remember-me .slider.round {
  border-radius: 17px;
}

.remember-me .slider.round:before {
  border-radius: 50%;
}

.form-container .remember-me label {
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
}

/*------------------*/
.submit-button,
.submit-button *,
.submit-button :after,
.submit-button :before,
.submit-button:after,
.submit-button:before {
  border: 0 solid;
  box-sizing: border-box;
}
.submit-button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  margin: 1.5rem 0;
}
.submit-button:disabled {
  cursor: default;
}
.submit-button:-moz-focusring {
  outline: auto;
}
.submit-button svg {
  display: block;
  vertical-align: middle;
}
.submit-button [hidden] {
  display: none;
}
.submit-button {
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.submit-button:before {
  background: #fff;
  border-radius: 999px;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.submit-button:after,
.submit-button:before {
  content: "";
  pointer-events: none;
  position: absolute;
  transition: 0.4s;
  z-index: -1;
}
.submit-button:after {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 50%;
  height: 30px;
  left: 90%;
  top: 80%;
  width: 30px;
}
.submit-button:hover:before {
  height: 90%;
  left: 5%;
  top: 10%;
  width: 90%;
}
.submit-button:hover:after {
  border-radius: 10px;
  height: 80%;
  left: 5%;
  top: 10%;
  width: 90%;
}

.form-container .fyp {
  cursor: pointer;
  transition:
    color 0.3s,
    text-shadow 0.3s;
}
.form-container .fyp:hover {
  color: white;
  text-shadow: #e8f403 0px 0px 10px;
}
.form-container .fyp a {
  font-size: 16px;
  letter-spacing: 1px;
}
.form-container .dhaa {
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}
.form-container .signup_link {
  display: inline-block;
  color: cyan;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition:
    color 0.3s,
    text-shadow 0.3s;
}

.form-container .signup_link:hover {
  color: white;
  text-shadow: #e8f403 0px 0px 10px;
}

@media only screen and (min-width: 580px) {
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
  }
}
@media only screen and (max-width: 580px) {
  .login-container {
    padding-top: var(--header-height);
  }
  .login-box {
    margin-top: 15px;
    margin-bottom: 25px;
    width: calc(100% - 30px);
  }
}

#googleLogin:active {
  transform: scale(0.9);
}
