body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}
.logo1 {
  padding: 5px;
  width: 80px;
}
a {
  text-decoration: none;
  color: rgb(36, 138, 240);
  transition: 0.5s ease-in;
}

a:visited {
  text-decoration: none;
  color: rgb(141, 27, 255);
}

a:hover {
  text-decoration: underline;
  color: cyan;
}

.phead {
  font-size: 30px;
  color: #ffffff;
  position: relative;
  overflow: auto;
  text-align: center;
  background-color: purple;
  padding-bottom: 0rem;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 0.3em;
  letter-spacing: 2px;
  font-family: "Noto Serif", serif;
}

h1 {
  line-height: 4rem;
  margin: unset;
  margin: 2rem;
}

#main,
#summary,
#tableofcontents,
#personal,
#process,
#share,
#cookies,
#social,
#keep,
#safe,
#privacy-rights,
#controls,
#california,
#updates,
#notice,
#review {
  padding: 25px 50px 0px 70px;
  font-family: "Montserrat", sans-serif;
}

.flex-container {
  display: flex;
}

.privacy-img {
  border-radius: 2%;
  width: 500px;
  height: 500px;
  float: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

p,
li {
  font-size: 17px;
  text-align: left;
}

.concern {
  padding-bottom: 10px;
}

span {
  font-weight: bold;
}

.ques {
  padding-top: 30px;
}

.ptitle {
  font-weight: bold;
  font-size: 2.25rem;
  font-family: "Noto Serif", serif;
}

.arrow {
  list-style: none;
  line-height: 2em;
  font-size: 16px;
}

.arrow::before {
  content: "\00BB";
}

.table-p {
  line-height: 2em;
  font-size: 16px;
}

.sub {
  font-size: 20px;
}

ul.square {
  list-style-type: square;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow-x: scroll;
  display: flex;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2b3adf;
  color: #fff;
}

.credits a {
  color: #8e2bdf;
}

img {
  object-fit: contain;
  width: 100% !important;
  mix-blend-mode: lighten;
}

@media only screen and (max-width: 600px) {
  .privacy-img {
    width: 300px;
    height: 300px;
  }

  .flex-container {
    display: block;
  }

  .flex-child {
    flex: 0;
  }

  #main,
  #summary,
  #tableofcontents,
  #personal,
  #process,
  #share,
  #cookies,
  #social,
  #keep,
  #safe,
  #privacy-rights,
  #controls,
  #california,
  #updates,
  #notice,
  #review {
    font-size: medium;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0px;
    height: 100%;
    word-wrap: break-word;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 30px;
    letter-spacing: 0.8px;
    line-height: 2.5rem;
  }
  .ptitle {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.75rem;
  }
  ul {
    padding-left: 0;
  }
  a {
    font-size: small;
  }
  .privacy-img {
    height: 100%;
  }
  #main,
  #summary,
  #tableofcontents,
  #personal,
  #process,
  #share,
  #cookies,
  #social,
  #keep,
  #safe,
  #privacy-rights,
  #controls,
  #california,
  #updates,
  #notice,
  #review {
    font-size: 12px;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0px;
    height: 100%;
    word-wrap: break-word;
  }
  li {
    font-size: 15px;
  }
}
