/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  --header-height: 70px;
}

/* Container styles */
.signup-container {
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to right, #6092f0, #1c426e);
}

.signup-box {
  padding: 40px 40px 30px 40px;
  background: rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Header text styles */
.signuptxt {
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: unset;
}

/* Google button styles */
.google {
  gap: 10px;
  border: none;
  outline: 2px solid #243b55;
  box-shadow: #568dcd 0px 25px 20px -20px;
  margin-bottom: 10px;
  padding: 6px 8px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.googleicon {
  width: 25px;
  border-radius: 100px;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.9);
}

.google:hover {
  background: #243b55;
  outline: none;
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* Divider styles */
.or {
  width: 230px;
}
.or .or-line {
  border-top: 1px solid #fff;
  width: 100%;
  margin: auto 10px;
}

/* Form container styles */
.form-container {
  width: 100%;
}

.user-box {
  position: relative;
  margin-bottom: 10px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 8px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  box-shadow: rgba(247, 240, 240, 0.728) 0px 2px 180px 1px;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #22004b;
  font-size: 14px;
}

/* Name part styles */
.name-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Submit button styles */
.submit-button[type="submit"] {
  outline: none;
	position: relative;
	padding: 10px 50px;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
  height: 70px;
	width: 170px;
	overflow: hidden;
	margin: 0 auto;
	background-color: transparent;
  border-radius: 45px;
	border: none;
	margin-top: 30px;
	text-align: center;
}

button span {
	position: relative;
	right: 10px;
	z-index: 1;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 7px;
    font-style:italic;
    font-weight: bold;
}

button .flow {
	position: absolute;
	left: 0;
	top: -60px;
	width: 250px;
	height: 200px;
	background:  #0050ab;
	box-shadow: inset 0 0 50px rgba(11, 0, 109, 0.468);
	transition: 0.5s;
}

button:hover .flow {
	top: -120px;
}

button .flow:before,
button .flow:after {
	content: '';
	position: absolute;
	width: 180%;
	height: 200%;
	top: 0;
	left: 50%;
	transform: translate(-50%, -75%);
}

button .flow:before {
	border-radius: 45%;
	background: #e4e0ddef;
	animation: swing 5s linear infinite;
}

button .flow:after {
	border-radius: 40%;
	background: rgba(3, 1, 1, 0.863);
	animation: swing 10s linear infinite;
}

@keyframes swing {
	0% {
		transform: translate(-50%, -75%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -75%) rotate(360deg);
	}
}

/* Additional styles */
.ahaa {
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

.login_link {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s;
}

.login_link:hover {
  color: white;
  text-shadow: #e8f403 0px 0px 10px;
}

/* Media queries */
@media only screen and (min-width: 580px) {
  .signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
  }
}

@media only screen and (max-width: 580px) {
  .signup-container {
    padding-top: var(--header-height);
  }
  .signup-box {
    margin-top: 15px;
    margin-bottom: 25px;
    width: calc(100% - 30px);
  }
  .name-part {
    flex-direction: column;
    gap: 0;
  }
}

/* Error message styles */
.user-box .error-msg {
  color: red;
  margin-top: -10px;
}
