/* Customize Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #7027f9;
  border-radius: 10px;
  opacity: 0.5;
}
/* Customize Scrollbar*/

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Montserrat", sans-serif;
  color: #444444;
}

a {
  color: #8919e4;
  text-decoration: none;
}

a:hover {
  color: #8919e4;
  text-decoration: none;
}

h1 .header {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
h5,
h6 {
  font-family: "Playfair Display", serif;
}
h4 {
  font-family: "Roboto", sans-serif;
}
.home-para {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5942e9;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  animation: action 1s infinite alternate;
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #5942e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
  z-index: 997;
  padding: 11px 0;
}

#header.header-scrolled {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.logo1 {
  padding: 5px;
  width: 60px;
  border-radius: 50%;
  margin-right: 5px;
}
#header .logo a {
  color: #fff;
}

#header .logo a span {
  color: #5942e9;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Get Started Button
--------------------------------------------------------------*/
.get-started-btn {
  margin-left: 30px;
  background: #5942e9;
  color: #fff;
  border-radius: 15px;
  padding: 8px 15px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}
.home-i {
  margin-left: 4px;
}
.get-started-btn:hover {
  background: #9385ed;
  color: #111;
}

@media (max-width: 992px) {
  .get-started-btn {
    margin: 0 7px 0 0;
    padding: 6px 10px;
  }
  #header .logo {
    font-size: 25px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  background-color: transparent;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  text-decoration: none;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-weight: 500;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #5942e9;
  text-decoration: underline;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #3e3939;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #5942e9;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #111111;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 2rem;
  left: 2rem;
  transform: translateY(-135%);
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
  border-radius: 8px;
  max-height: calc(100vh - 70px);
  -webkit-transform: translateY(-135%);
  -moz-transform: translateY(-135%);
  -ms-transform: translateY(-135%);
  -o-transform: translateY(-135%);
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #111111;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #5942e9;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #5942e9;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}


/*------------------------------------------
# GLASSMORPHIC EFFECT 
------------------------------------------*/
.glassmorphic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

.glassmorphic::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(1rem);
  z-index: -1;
}

.glassmorphic::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1); /* Adjust the background color and transparency as desired */
  z-index: -2;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/background/bg.jfif") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 62px;
  text-align: center;
  /* opacity: 2; */
}

#hero:before {
  content: "";
  /* background: rgba(0, 0, 0, 0.6); */
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 4em;
  font-weight: 900;
  align-items: center;
  margin-top: 0px;
}

.home {
  font-family: "Kanit", sans-serif;
}
#hero h2 {
  color: rgb(226, 213, 213);

  font-size: 25px;
}
.home-para {
  padding: 35px 0 0 0;
}
#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 11px 15px;
  border-radius: 20px;
  transition: 0.5s;
  margin-top: 50px;
  margin-left: 20px;
  color: #fff;
  background: #5942e9;
  font-weight: 600;
  /* border: 2px solid #3ae0ca; */
}
.home {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #21beee, #ee21d9 46%, #ee2121);
  -webkit-animation: home_btn__VDNR5 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: home_btn__VDNR5 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.css-15 {
  margin: 0px 0px 0.35em;
  font-weight: 300;
  font-size: 5rem;
  line-height: 1.5;
  letter-spacing: -0.009em;
}

#hero .btn-get-started:hover {
  background: transparent;
  border-color: #fff;
  color: #fff;
  border: 2px solid #5942e9;
}
@-webkit-keyframes leftarrow {
  0% {
    transform: translateX(0);
    opacity: 0.7;
  }
  100% {
    transform: translateX(-0.4em);
    opacity: 0.9;
  }
}

.left {
  -webkit-animation: leftarrow 0.6s infinite alternate ease-in-out;
}
.hero {
  width: 900px;
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
    padding-top: 58px;
  }

  #hero h1 {
    font-size: 44px;
  }

  #hero h2 {
    font-size: 20px;
    /* line-height: 24px; */
    margin: 10px;
  }
  #hero .btn-get-started {
    margin-bottom: 60px;
    margin-top: 10px;
    padding: 6px 10px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0px;
  position: relative;
}

/* .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #16a9e4;
  bottom: 0;
  left: calc(50% - 25px);
  margin-top: 2px;
} */

.section-title p {
  margin-bottom: 0;
}

.section-bg {
  padding: 120px 0;
  color: #fff;
  background: #0e034d;
  background-image: linear-gradient(
    #0e034d,
    #fff
  ); /* this is painted over the background-color */
  background-size: 50% 50%;
}

.section-bg:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}
.roboto {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Prompt", sans-serif;
  font-size: 1.2em;
  /* color: #14e5d4; */
  color: rgb(44, 246, 199);
  margin-top: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #2b2b2b;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #aaaaaa;
}

.breadcrumbs ol a:hover {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #16a9e4;
  content: "/";
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .swiper-pagination {
  margin-top: 40px;
  position: relative;
}
.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5942e9;
}
.clients-slider {
  margin-top: 40px;
}
.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5942e9;
}

.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(100);
}
.clients .swiper-slide img:hover {
  opacity: 1;
  filter: none;
}
.clients h1 {
  color: #5942e9;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.enlarge {
  height: 60px;
  width: 200px;
}
@media only screen and (max-width: 600px) {
  .clients h1 {
    font-size: 27px;
  }
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-image: url("../img/background/abt-bg1.jpg");
  background-size: cover;
  position: relative;
  padding-top: 0px;
  padding-bottom: 80px;
}
.whoweare {
  margin-top: 30px;
  margin-left: 20px;
  width: 600px;
  height: 500px;
  border-radius: 48% 0 48% 48%;
}
.text-primary {
  color: #5942e9 !important;
}
.us {
  color: #5942e9 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
.abt-img {
  margin-left: 150px;
  animation: float 3.5s ease-in-out infinite;
  height: 430px;
  width: 430px;
  border-radius: 50%;
  position: relative;

  background: radial-gradient(
    circle at 75% 30%,
    white 5px,
    aqua 8%,
    darkblue 60%,
    aqua 100%
  );
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
    inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-80px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes expand {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}
/* Bootstrap toggle icon */
.bi-list::before {
  content: "\f479";
  color: white;
  padding-right: 10px;
}
@media only screen and (max-width: 600px) {
  .abt-img {
    animation: float 4.5s ease-in-out infinite;
    height: 300px;
    width: 300px;
    margin-right: 80px;

    background: radial-gradient(
      circle at 65% 35%,
      white 5px,
      aqua 15%,
      darkblue 50%,
      aqua 100%
    );
    box-shadow: inset 0 -20px 30px #fff, inset 40px 0 46px #eaf5fc,
      inset 58px 0px 60px #c2d8fe, inset -8px -30px 100px #fde9ea,
      inset 0 20px 110px #fde9ea, 0 0 90px #fff;
  }
  .whoweare {
    height: 300px;
    width: 350px;
    margin-left: 10px;
    margin-top: 20px;
  }
  .us {
    font-size: 44px;
    /* margin-left: 10px; */
  }
  .abt-txt,
  .p-hover {
    font-size: 16px;
    /* margin-left: 20px; */
    line-height: normal;
    text-decoration: none;
    font-weight: normal !important;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-50px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}

.abt-txt {
  margin-top: 40px;
  font-size: 16px;
  font: weight 5px;
}
.about .container {
  position: relative;
  z-index: 10;
}

.about .content {
  padding: 30px 30px 30px 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.about .content p {
  margin-bottom: 30px;
}

.about .content .about-btn {
  padding: 8px 30px 9px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #5942e9;
}

.about .content .about-btn i {
  font-size: 16px;
  padding-left: 5px;
}

.about .content .about-btn:hover {
  background: #8474eb;
  background: #5942e9;
}

.about .icon-boxes .icon-box {
  margin-top: 30px;
}

.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #16a9e4;
  margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}
.p-hover {
  background-image: linear-gradient(
    to right,
    #2b0ecc,
    #830066 25%,
    #158ea3 50%,
    #000000 50%
  );
  font-weight: 600;
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.p-hover:before {
  content: "";
  background: #5942e9;
  display: block;
  position: absolute;
  /* bottom: -3px; */
  left: 0;
  width: 0;
  /* height: 3px; */
  font-weight: 500;
  font-size: 50px;
}
.p-hover:hover {
  background-position: 0;
}
.p-hover:hover::before {
  width: 100%;
}
@media (max-width: 1200px) {
  .about .content {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .about {
    text-align: center;
  }
}

/* Bubble */
.bubble-inner {
  overflow: hidden;
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
}
.bubble img {
  display: block;
  max-width: 100%;
}
.bubble {
  position: relative;
  display: inline-block;
}
.bubble:before,
.bubble:after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 2px 0px #000;
  border-radius: 50%;
}
.think {
  /* width: 0px; */
  margin-left: 200px;
}
@keyframes float {
  0% {
    transform: translate(0, 0) scale(1, 1);
  }
  50% {
    transform: translate(0px, 10px) scale(1.05, 1);
  }
  100% {
    transform: translate(0, 0) scale(1, 1);
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
hr.line {
  border: 4px solid #5942e9;
  border-radius: 5px;
  width: 120px;
  opacity: 1;
}

.counts {
  padding-top: 80px;
  background-color: #0e034d;
}
.number {
  color: #d3d0e5 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.count-box {
  background: linear-gradient(145deg, #0e034d, #240ab3);
}
.row {
  margin-top: 70px;
}
.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  box-shadow: 0px 2px 30px #dbdaec;
  border-radius: 10px;
}
.count-box > span {
  display: inline-block !important;
}
.counts .count-box i {
  position: absolute;
  width: 64px;
  height: 64px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #5942e9;
  color: #d3d0e5;
  border-radius: 50px;
  border: 2px solid #5942e9;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #f0f0f0;
  margin-top: 10px;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: #fff;
}
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.nav-pills .nav-link.active {
  background-color: #471ed2;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}
.nav-pills .nav-link {
  color: #ada1d3;
  border: solid 1px #471ed2;
  margin-bottom: 20px;
  margin-top: 10px;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

.gallery img {
  width: 100%;
  max-width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 250px;
}
.left-tab {
  width: 200px;
  width: 100%;
  max-width: 300px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 100px;
}
.right-tab {
  width: 300px;
  height: 300px;
  margin-left: 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.circle .nav-link {
  transition: 1s ease;
}

.circle .nav-link:hover {
  /* border-radius: 90%; */
  /* transition: 1s ease; */

  transform: scale(1.1);
  transition: width 1s, height 3s;
}

.flex-child {
  flex: 1;
  /* border: 2px solid yellow; */
}

.flex-child:first-child {
  margin-right: 20px;
}
.benefits {
  font-weight: 700;
  color: #cbc6ef;
}
.text-center {
  text-align: center;
}
.hr-center {
  margin: auto;
}
@media (max-width: 992px) {
  #benefits {
    text-align: left;
  }
  .benefits {
    margin-top: 10px;
  }
  .gallery img {
    margin-right: 75px !important;
  }
}
/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
i {
  transition: all 0.2s linear;
}

a:hover i {
  transform: scale(1.3);
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #5942e9;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(17, 17, 17, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(17, 17, 17, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap {
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.4);
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.project-img {
  height: 250px;
  width: 500px;
}
.portfolio-wrap {
  border-radius: 1%;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5942e9;
}

.portfolio-details
  .portfolio-details-slider
  .swiper-pagination
  .swiper-pagination-bullet-active {
  background-color: #5942e9;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(17, 17, 17, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Achievements
--------------------------------------------------------------*/
#achievement,
#testimonials {
  background-color: #0e034d;
}
.testimonials-slider {
  margin-top: 40px;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
  border-radius: 15px;
  height: 400px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 10px;
  border: 6px solid #fff;
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 25px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #fceaea;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 30px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5942e9;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5942e9;
}
#achievement h1,
#testimonials h1 {
  color: #d3d0e5 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
@media only screen and (max-width: 600px) {
  #achievement h1,
  #testimonials h1 {
    font-size: 27px;
  }
}
.section-bg1 {
  padding: 120px 0;
  color: #fff;
  background: #0e034d;
  background-image: linear-gradient(
    #0e034d,
    #0e034d
  ); /* this is painted over the background-color */
  background-size: 50% 50%;
}

.section-bg1:before {
  content: "";
  background: #1b1b1b;
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
}
#myCarousel {
  margin-top: 50px;
}
.carousel {
  width: 650px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.carousel .carousel-item {
  color: #cdc6c6;
  font-size: 15px;
  text-align: center;
  overflow: hidden;
  min-height: 340px;
}
/* .carousel .carousel-item a {
	color: #eb7245;
} */
.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
  /* display: none; */
}
.carousel .overview {
  text-align: center;
  padding-bottom: 5px;
}
.carousel .overview b {
  color: #b1ae09;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px;
}
.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12;
}
.carousel-control-prev,
.carousel-control-next {
  width: 30px;
  height: 30px;
  text-shadow: none;
  top: 20%;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 30px;
}
.carousel-control-prev {
  left: 0%;
}
.carousel .carousel-indicators {
  bottom: 15px;
}
.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #e2e2e2;
  border: none;
}
.carousel-indicators li.active {
  background: #888;
}
@media only screen and (max-width: 600px) {
  .carousel {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Join us
--------------------------------------------------------------*/
#join-us {
  background-color: #1b1b1b;
}
#join-us .abt-txt {
  font-size: 18px;
  /* margin-left: 20px; */
  line-height: normal;
  text-decoration: none;
  font-weight: normal !important;
  color: #fff;
}
#join-us h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.link {
  font-size: 20px;
}
.counts {
  padding-top: 80px;
  background-color: #0e034d;
}
.number {
  color: #d3d0e5 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.count-box {
  background: linear-gradient(145deg, #0e034d, #240ab3);
}
.row {
  margin-top: 70px;
}
.join .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  border-radius: 10px;
}
.count-box > span {
  display: inline-block !important;
}
.join .count-box i {
  /* position: absolute; */
  width: 64px;
  height: 64px;
  top: 27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #5942e9;
  color: #d3d0e5;
  border-radius: 50px;
  border: 2px solid #5942e9;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.join .count-box:hover {
  box-shadow: 0px 1px 25px #b8b4f4;
}
.join .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #f0f0f0;
  margin-top: 10px;
}

.join .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: #fff;
}
.shrink .count-box {
  transition: 1s ease;
}

.shrink .count-box:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.link:hover {
  background-color: #4158d0;
  background-image: linear-gradient(43deg, #ee21d9, #21eecf 46%, #ee2121);
  -webkit-animation: home_btn__VDNR5 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: home_btn__VDNR5 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 600px) {
  #join-us h1 {
    font-size: 27px;
  }
  #join-us h2 {
    font-size: 23px;
    font-weight: 200;
  }
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #111111;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #16a9e4;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #111111;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111111;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
#faq {
  padding-bottom: 0;
  background-image: url("../img/abt-bg1.jpg");
  background-size: cover;
  position: relative;
}
#faq h1 {
  color: #5942e9 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
#faq hr {
  margin-bottom: 50px;
}
.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #5942e9;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  cursor: pointer;
}

.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #5942e9;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}
@media only screen and (max-width: 600px) {
  #faq h1 {
    font-size: 27px;
  }
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-image: url("../img/abt-bg1.jpg");
  background-size: cover;
  position: relative;
}
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 15px 0 15px 0;
  border-radius: 4px;
  background-color: #fff;
}
#contact h1 {
  color: #5942e9 !important;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.contact .info-box i {
  font-size: 32px;
  color: #5942e9;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f8d4d5;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  border-radius: 4px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #5942e9;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 25px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #111111;
}

.contact .php-email-form input {
  padding: 20px 20px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #5942e9;
  border: 0;
  padding: 10px 32px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  /* margin-top: 30px; */
  margin-bottom: 30px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #50e3ca;
}

.register {
  margin-bottom: 1px;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  #contact h1 {
    font-size: 27px;
  }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #111111;
}

#footer .footer-top {
  padding: 10px 0 30px 0;
  background: #1b1b1b;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #5942e9;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #5942e9;
  bottom: 0;
  left: 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #aaaaaa;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5942e9;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #7f17e1;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2b2b2b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #5942e9;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/
.card {
  border-radius: 56px;
  width: 50%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 20px 20px 40px #bebebe, -20px -20px 40px #ffffff;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover {
  box-shadow: 20px 20px 40px #d970ea, -20px -20px 40px #a5b5c0;
  margin-bottom: 50px;
}
#image-for-card {
  width: 100%;
  height: 100%;
  border-top-left-radius: 56px;
  border-top-right-radius: 56px;
}
.for-image-div {
  width: 100%;
  height: 50vh;
}
@media only screen and (max-width: 900px) {
  .card {
    width: 70%;
  }
  .for-image-div {
    height: 50vh;
  }
  #image-for-card {
    border-radius: 56px;
  }
  #event-p-div,
  #event-h1 {
    display: none;
  }
  .event-h1 {
    line-height: 1em;
  }
  .event-h2 {
    line-height: 1.2em;
  }
}
#card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#event-h1 {
  font-family: "Roboto", sans-serif;
  padding-top: 6px;
}
#event-p-div {
  margin-right: 40px;
  padding-left: 40px;
}

.for-bg {
  /* background-image: url("../img/background/s1.png");
  background-repeat: repeat-y;
  /* width: 1000px;
    height: 1000px; */
  /* background-size: 100vw auto;  */
  background: linear-gradient(180deg, #b9b3b8, 5%, #390244, 50%, #1b011d);
}
.for-bgg {
  /* height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #fd04bf, 5%, #280230, 50%, #02031f);
  position: absolute; */
  background-color: #b9b3b8;
}

.for-bgg div {
  background: linear-gradient(180deg, #fd04bf, 5%, #280230, 50%, #02031f);
  height: 80px;
  width: 80px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  position: absolute;
  top: 10%;
  left: 10%;
  animation: 4s linear infinite;
  background-repeat: repeat-y;
}
div .dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 20%;
  right: 20%;
}
.for-bgg div:nth-child(1) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.for-bgg div:nth-child(2) {
  top: 60%;
  left: 80%;
  animation: animate 10s linear infinite;
}
.for-bgg div:nth-child(3) {
  top: 40%;
  left: 40%;
  animation: animate 3s linear infinite;
}
.for-bgg div:nth-child(4) {
  top: 66%;
  left: 30%;
  animation: animate 7s linear infinite;
}
.for-bgg div:nth-child(5) {
  top: 90%;
  left: 10%;
  animation: animate 9s linear infinite;
}
.for-bgg div:nth-child(6) {
  top: 30%;
  left: 60%;
  animation: animate 5s linear infinite;
}
.for-bgg div:nth-child(7) {
  top: 70%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.for-bgg div:nth-child(8) {
  top: 75%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.for-bgg div:nth-child(9) {
  top: 50%;
  left: 50%;
  animation: animate 6s linear infinite;
}
.for-bgg div:nth-child(10) {
  top: 45%;
  left: 20%;
  animation: animate 10s linear infinite;
}
.for-bgg div:nth-child(11) {
  top: 10%;
  left: 90%;
  animation: animate 9s linear infinite;
}
.for-bgg div:nth-child(12) {
  top: 20%;
  left: 70%;
  animation: animate 7s linear infinite;
}
.for-bgg div:nth-child(13) {
  top: 20%;
  left: 20%;
  animation: animate 8s linear infinite;
}
.for-bgg div:nth-child(14) {
  top: 60%;
  left: 5%;
  animation: animate 6s linear infinite;
}
.for-bgg div:nth-child(15) {
  top: 90%;
  left: 80%;
  animation: animate 9s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(70deg);
  }
  100% {
    transform: scale(1.3) translateY(-100px) rotate(360deg);
  }
}

#home {
  width: 100%;
  height: 100vh;
  background: url("../img/background/bg3.jpg") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;
}
.event-h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.demo a:hover {
  opacity: 0.5;
  color: #0be6db;
  font-weight: bold;
}

#home a {
  padding-top: 70px;
  bottom: 0;
}

#home a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
#section07 a {
  padding-top: 80px;
}

#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}

#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes sdb07 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.vertical-tab {
  font-family: "Montserrat", sans-serif;
  display: table;
}
.vertical-tab .nav-tabs {
  width: 27%;
  min-width: 27%;
  padding-left: 15px;
  border: none;
  vertical-align: top;
  display: table-cell;
}
.vertical-tab .nav-tabs li {
  float: none;
}
.vertical-tab .nav-tabs li a {
  color: #444;
  background: linear-gradient(#e9e9e9, transparent);
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 10px;
  margin: 0 0 15px 0;
  border: none;
  border-radius: 0;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li a:hover,
.vertical-tab .nav-tabs li.active a {
  color: #0b697e;
  background: linear-gradient(#e9e9e9, transparent);
  border: none;
}
.vertical-tab .nav-tabs li.active a:hover,
.vertical-tab .nav-tabs li.active a {
  color: #0b697e;
}
.vertical-tab .nav-tabs li a:before,
.vertical-tab .nav-tabs li a:after {
  content: "";
  background: #0b697e;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease 0s;
}
.vertical-tab .nav-tabs li a:after {
  width: calc(100% - 5px);
  height: 3px;
  border-radius: 0;
  transform-origin: left center;
  bottom: 1px;
  left: 5px;
}
.vertical-tab .nav-tabs li.active a:before,
.vertical-tab .nav-tabs li a:hover:before,
.vertical-tab .nav-tabs li.active a:after,
.vertical-tab .nav-tabs li a:hover:after {
  transform: scale(1);
}
.vertical-tab .tab-content {
  color: #fff;
  background: #0b697e;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 23px;
  padding: 20px;
  display: table-cell;
}
.vertical-tab .tab-content h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 7px;
}
.event-wrap {
  width: 900px;
}
@media only screen and (max-width: 479px) {
  .vertical-tab .nav-tabs {
    width: 100%;
    display: block;
  }
  .vertical-tab .nav-tabs li a {
    padding: 15px 10px 14px;
  }
  .vertical-tab .tab-content {
    font-size: 14px;
    display: block;
  }
  .event-h2 {
    font-size: 22px;
  }
}
