#contributors-container {
  margin-top: -10px;
  margin-bottom: 2rem;
  width: 100%;
  background-image: linear-gradient(to right, #141e30, #243b55);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1.8rem;
}
.contributor {
  width: 26%;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  transition: 3s ease-in-out;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  background-image: linear-gradient(to right, #9796f0, #d7c7fb);
  /* background-image: linear-gradient(to right, #b6d8ff, #83a4d4); */
  margin-bottom: 20px;
}

.contributor:hover {
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  transform: scale(0.9);
  background-image: linear-gradient();
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.contributor img {
  width: 60%;
  transition: all 2s ease-in-out;
  border-radius: 50%;
  /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.contributor img :hover {
  transform: scale(0.8);
}
.contributor p {
  font-size: 1.1rem;
  text-align: center;
  padding: 1rem 0 0 0;
}

.contributor a {
  width: 80%;
  background-color: blueviolet;
  padding: 0.4rem;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.cname {
  color: rgb(2, 2, 70);
  font-size: 20px;
  font-family: cursive;
  font-weight:800;
}
.contributor button {
  background-color: blueviolet;
  color: white;
  border: none;
}

@media only screen and (max-width: 800px) {
  .contributor {
    width: 90%;
  }
}
