body {
  background-image: linear-gradient(
    60deg, 
    #141e30, 
    #25283e
  ) !important;
}

.contributors-page-heading {
  margin-top: 50px;
  text-align: center;
  padding: 5rem 0 3rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  letter-spacing: .35rem;
  word-spacing: .35rem;
  font-weight: 600;
  font-size: 2.25rem;
  font-variant: petite-caps;
}

#preloader {
  background: #000 url(https://www.oscode.co.in/assets/img/gifs/OSCode.gif) no-repeat center center;
  background-size: 60%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999999;
}

#contributors-container {
  margin-top: -10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1.8rem;
  padding-bottom: 3rem;
}

.contributor {
  width: 26%;
  cursor: pointer;
  padding: 1.5rem 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  transition: .3s ease;
  box-shadow:
    rgba(77, 163, 255, 0.4) 5px 5px,
    rgba(46, 76, 240, 0.3) 10px 10px,
    rgba(52, 46, 240, 0.2) 15px 15px,
    rgba(46, 95, 240, 0.1) 20px 20px,
    rgba(46, 85, 240, 0.05) 25px 25px;
  margin-bottom: 20px;
  background: linear-gradient(145deg, #0e034d, #240ab3);
}

.contributor:hover {
  filter: drop-shadow(0px 0px 2px white) brightness(1.25);
  transform: scale(1.05);
}

.contributor img {
  width: 60%;
  transition: 0.3s ease-in;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.09) 0px 2px 5px,
    rgba(0, 0, 0, 0.08) 0px 8px 5px,
    rgba(0, 0, 0, 0.095) 0px 8px 14px,
    rgba(0, 0, 0, 0.07) 0px 16px 18px,
    rgba(0, 0, 0, 0.092) 0px 35px 16px;
}
.contributor img :hover {
  transform: scale(0.8);
}
.contributor p {
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.contributor p .contri {
  font-size: 1rem;
  text-align: center;
  color: #ddd !important;
  font-weight: 300 !important;
  font-size: 1rem !important;
  padding-top: 1rem;
}

.cname {
  color: white;
  font-size: 20px;
  font-family: cursive;
  font-weight: 800;
}

.contributor button {
  align-items: center;
  background: #5942e9;
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 2em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  white-space: nowrap;
  cursor: pointer;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

@media only screen and (max-width: 800px) {
  .contributor {
    width: 40%;
  }
}

.contributor button:hover {
  background-image: linear-gradient(to right, #243b55, #141e30);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 8px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
  .contributor {
    width: 80%;
  }
}

@media (min-width: 35em) {
  .contributors-page-heading {
    font-size: 3.25rem;
  }
}
