body {
    font-family: Varela Round , sans-serif ;
    padding: 0;
    /* text-align: center; */
}

#events {
    background-image: linear-gradient(rgb(57, 23, 132), rgb(12, 12, 83));
    /* padding: 80px 80px; */
    align-items: center;
    text-align: center;
}

.event_box:hover  {
    transform: scale(1.1);
}

#events h2 span {
    color: #d9ef35 ;
}

#events h2, #events a {
    color: white;
}

h2  {
    display: inline-block;
    font-family: poppins , sans-serif;
    font-size: 26pt;
    padding: 30px 20px;
    text-align: center;
}

#events .container {
    background-color: rgba(37, 166, 231, 0.15);
    padding: 30px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 0px;
}
#events .container .row {
    margin: 0px;
    padding: auto;/
}

#events .container .event_box {
    background-color: rgb(0, 0, 0, 0.55);
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 2px rgb(6, 6, 69);
    color: white;
    margin: 26px;
    padding: 12px;
    width: 10rem;
        height: 200px;
    transition: transform 0.5s ease-in-out;
}

 #events .container .event_box:hover  {
    transform: scale(1.1);
}

@media only screen and (max-width: 1270px) {
    #events .container .event_box {
        margin: 8px;
        padding: 8px;
        width: 10rem;
    }

    #events .container{
        padding: 20px;
    }
}
@media only screen and (max-width: 400px) {
    #events .container .event_box {
        margin: 16px;
        padding: 8px;
        width: 10rem;
    }
    #events .container .row {
        display: inline-block;
        margin: 20px;
        padding: 0;
    }

    #events .container{
        padding: 0px;
        margin: 0 20px;
        width: 300px;
    }
}



#events .container .event_box img {
    max-width:100%;
    height:auto;
}
#events .container .event_box .card-body {
    margin: 0; 
    padding: 10px 5px;

}


#events .container .event_box a {
    text-decoration: none;
}

#events .container .event_box img {
    width: 10rem;
    height: 9rem;
    padding: 5px;
}

#home {
    width: 100%;
    height: 100vh;
    background: url("/assets/img/background/bg3.webp") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 7vh;
    flex-direction: column;
    justify-content: space-between;
}
  .event-h2 {
    color: var(--background-white);
    font-family: "Roboto", sans-serif;
    line-height: 1.5em;
      }
  .demo a {
    /* position: absolute; These was causing scroll not be in center */
    /* bottom: 20px; */
    /* left: 50%; */
    z-index: 2;
    /* display: inline-block; */
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: var(--background-white);
    font: normal 400 20px/1 "Josefin Sans", sans-serif;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: opacity 0.3s;
  }
  
  .demo a:hover {
    opacity: 0.5;
    color: #5d5aff;
    /* font-weight: bold; */
  }
  
  #home a {
    padding-top: 70px;
    /* bottom: 0; */
  }
  
  #home a span {
    position: relative;
    display: inline-block;
    top: -30px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid var(--background-white);
    border-bottom: 1px solid var(--background-white);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-animation: sdb06 1.5s infinite;
    animation: sdb06 1.5s infinite;
    box-sizing: border-box;
  }
  
  @-webkit-keyframes sdb06 {
    0% {
      -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  
  @keyframes sdb06 {
    0% {
      transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

  .prevIcon, .nextIcon{
    position: absolute;
    height:50px;
    width: 50px;
    padding: 50%;
    border-radius: 50%;
    background-color: #9a6af9;
  }
  
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
  .vertical-tab {
    font-family: "Montserrat", sans-serif;
    display: table;
  }
  .vertical-tab .nav-tabs {
    width: 27%;
    min-width: 27%;
    padding-left: 15px;
    border: none;
    vertical-align: top;
    display: table-cell;
  }
  .vertical-tab .nav-tabs li {
    float: none;
  }
  .vertical-tab .nav-tabs li a {
    color: #444;
    background: linear-gradient(#e9e9e9, transparent);
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
    margin: 0 0 15px 0;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
  }
  .vertical-tab .nav-tabs li a:hover,
  .vertical-tab .nav-tabs li.active a {
    color: #0b697e;
    background: linear-gradient(#e9e9e9, transparent);
    border: none;
  }
  .vertical-tab .nav-tabs li.active a:hover,
  .vertical-tab .nav-tabs li.active a {
    color: #0b697e;
  }
  .vertical-tab .nav-tabs li a:before,
  .vertical-tab .nav-tabs li a:after {
    content: "";
    background: #0b697e;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease 0s;
  }
  .vertical-tab .nav-tabs li a:after {
    width: calc(100% - 5px);
    height: 3px;
    border-radius: 0;
    transform-origin: left center;
    bottom: 1px;
    left: 5px;
  }
  .vertical-tab .nav-tabs li.active a:before,
  .vertical-tab .nav-tabs li a:hover:before,
  .vertical-tab .nav-tabs li.active a:after,
  .vertical-tab .nav-tabs li a:hover:after {
    transform: scale(1);
  }
  .vertical-tab .tab-content {
    color: var(--background-white);
    background: #0b697e;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 23px;
    padding: 20px;
    display: table-cell;
  }
  .vertical-tab .tab-content h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 7px;
  }
  .event-wrap {
    width: 900px;
  }
  @media only screen and (max-width: 479px) {
    .vertical-tab .nav-tabs {
      width: 100%;
      display: block;
    }
    .vertical-tab .nav-tabs li a {
      padding: 15px 10px 14px;
    }
    .vertical-tab .tab-content {
      font-size: 14px;
      display: block;
    }
    .event-h2 {
      font-size: 22px;
    }
  }
  
  .msg-us {
    color: rgb(27, 27, 27);
  
    transition: all 0.2s;
  }
  .msg-us:hover {
    background-color: rgb(147, 133, 237);
    translate: 0px -5px;
  }
  
  .close {
    font-size: 1.5rem;
  }

  #image-for-card {
    width: 100%;
    height: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .for-image-div {
    width: 100%;
    height: 50vh;
  }
  @media only screen and (max-width: 900px) {
    .card {
      width: 70%;
    }
    .for-image-div {
      height: 50vh;
    }
    #image-for-card {
      border-radius: 16px;
    }
    #event-p-div,
    #event-h1 {
      display: none;
    }
    .event-h1 {
      line-height: 1em;
    }
    .event-h2 {
      line-height: 1.2em;
    }
  }

  #card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #event-h1 {
    font-family: "Roboto", sans-serif;
    padding-top: 6px;
  }
  #event-p-div {
    margin-right: 40px;
    padding-left: 40px;
  }
  
  .for-bg {
    /* background-image: url("../img/background/s1.webp");
    background-repeat: repeat-y;
    /* width: 1000px;
      height: 1000px; */
    /* background-size: 100vw auto;  
      background: linear-gradient(180deg, #b9b3b8, 5%, #390244, 50%, #1b011d);
  */
    background-image: url("../img/background/event2.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no no-repeat;
    background-size: cover;
  }
  .for-bgg {
    /* height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #fd04bf, 5%, #280230, 50%, #02031f);
    position: absolute; */
    background-color: #b9b3b8;
  }
  
  .for-bgg div {
    background: linear-gradient(180deg, #fd04bf, 5%, #280230, 50%, #02031f);
    height: 80px;
    width: 80px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: 4s linear infinite;
    background-repeat: repeat-y;
  }
  div .dot {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 20%;
  }
  .for-bgg div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .for-bgg div:nth-child(2) {
    top: 60%;
    left: 80%;
    animation: animate 10s linear infinite;
  }
  .for-bgg div:nth-child(3) {
    top: 40%;
    left: 40%;
    animation: animate 3s linear infinite;
  }
  .for-bgg div:nth-child(4) {
    top: 66%;
    left: 30%;
    animation: animate 7s linear infinite;
  }
  .for-bgg div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
  }
  .for-bgg div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
  }
  .for-bgg div:nth-child(7) {
    top: 70%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .for-bgg div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  .for-bgg div:nth-child(9) {
    top: 50%;
    left: 50%;
    animation: animate 6s linear infinite;
  }
  .for-bgg div:nth-child(10) {
    top: 45%;
    left: 20%;
    animation: animate 10s linear infinite;
  }
  .for-bgg div:nth-child(11) {
    top: 10%;
    left: 90%;
    animation: animate 9s linear infinite;
  }
  .for-bgg div:nth-child(12) {
    top: 20%;
    left: 70%;
    animation: animate 7s linear infinite;
  }
  .for-bgg div:nth-child(13) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
  }
  .for-bgg div:nth-child(14) {
    top: 60%;
    left: 5%;
    animation: animate 6s linear infinite;
  }
  .for-bgg div:nth-child(15) {
    top: 90%;
    left: 80%;
    animation: animate 9s linear infinite;
  }
  @keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(70deg);
    }
    100% {
      transform: scale(1.3) translateY(-100px) rotate(360deg);
    }
  }
  
  .row{
    margin-top: 20vh;
  }
  
  .modifyRow{
    margin-top: 20px;
    display: flex;
  }

  .social-links {
    margin-bottom: 10px;
    padding-bottom: -50px;
    display: flex;
    width: 50%;
  }
  
  .textSocials {
    width: 35%;
  }
  
  .socialIcons {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
  }

  @media only screen and (max-width: 800px) {
    .modifyRow{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }
    .social-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1rem;
    }
    
    .textSocials {
      width: 35%;
    }
    
    .socialIcons {
      width: 100%;
    }
  }
